<a href="https://colab.research.google.com/github/Esaiasson/Machine_learning_WS_2025/blob/pre_processing_amazon/A1/amazon_reviews_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import of the neccesary libraries

In [1]:
import pandas as pd

Reading in the CSV-file.

In [54]:
rev_df_lrn = pd.read_csv('amazon_review_ID.shuf.lrn.csv')
rev_df_lrn.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V9992,V9993,V9994,V9995,V9996,V9997,V9998,V9999,V10000,Class
0,0,17,4,8,8,9,4,0,2,3,...,0,0,0,0,0,0,0,1,1,Shea
1,1,21,9,5,8,6,2,16,3,12,...,0,0,0,2,2,1,0,1,0,Riley
2,2,9,7,6,3,8,2,9,4,4,...,0,0,0,0,0,0,0,1,1,Chachra
3,3,8,3,5,2,4,3,8,2,4,...,0,0,1,0,1,0,0,0,0,Agresti
4,4,15,8,8,4,7,8,4,7,1,...,0,0,0,0,0,0,0,0,0,Nigam

Some basic information about the dataset

In [81]:
shape = rev_df_lrn.shape
print("The dataset consists of: " + str(shape[0]) +  " rows and " + str(shape[1]) + " columns")
unique_values = rev_df_lrn['Class'].unique()
print("The dataset has " + str(len(unique_values)) + " unique values in the target attribute")
print("The values are: ")
print(unique_values)
print("\n")

na_col = rev_df_lrn.isna().sum()
if na_col[na_col > 0].shape == (0,):
    print("There are no missing values in the dataset")
else:
  print("The columns with NA values are: ")
  na_col[na_col > 0]

print("\n")
d_types = pd.Series(rev_df_lrn.dtypes)
print("The datatypes in the frame are:")
print(d_types.value_counts())

The dataset consists of: 750 rows and 10002 columns
The dataset has 50 unique values in the target attribute
The values are:
['Shea' 'Riley' 'Chachra' 'Agresti' 'Nigam' 'Messick' 'Cutey' 'Mitchell'
 'Ashbacher' 'Brody' 'Vernon' 'Goonan' 'Harp' 'Lovitt' 'Corn' 'Engineer'
 'Calvinnme' 'Chell' 'Comdet' 'Kolln' 'Peterson' 'Dent' 'Wilson' 'Mark'
 'Grove' 'Janson' 'Brown' 'Auken' 'Sherwin' 'Cholette' 'McKee' 'Taylor'
 'Walters' 'Merritt' 'Blankenship' 'Chandler' 'Johnson' 'Hayes' 'Koenig'
 'CFH' 'Lawyeraau' 'Davisson' 'Mahlers2nd' 'Power' 'Robert' 'Morrison'
 'Lee' 'Neal' 'Bukowsky' 'Vision']


There are no missing values in the dataset


The datatypes in the frame are:
int64     10001
object        1
Name: count, dtype: int64

The datatypes in the frame are:
int64     10001
object        1
Name: count, dtype: int64